<!DOCTYPE html>

<html lang="ja">
  <head>
    <title>メモ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/semantic.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="/public/js/semantic.min.js"></script>
  </head>
  <body style="width:80%;margin-right:auto;margin-left:auto;">
